{%  extends "base.html" %}

{% block include %}
  {{ super() }}
  <link href="{{ url_for("static", filename="css/main.css") }}" rel="stylesheet">
  <link href="{{ url_for("static", filename="css/schedule.css") }}" rel="stylesheet">
  <script src="{{ url_for("static", filename="js/api.js") }}" lang="javascript"></script>
  <script src="{{ url_for("static", filename="js/subjects.js") }}" lang="javascript"></script>

  <script>
      window.addEventListener("load", function() {
          getSubjects();
      });
  </script>
{% endblock %}

{% block title %} Subjects {% endblock %}

{% block navbar %}
  {% include "nav.html" %}
{% endblock %}

{% block content %}
  <h1 class="mt-3 mb-3">Subjects</h1>

  <div class="row">
    <div class="col">
      <input type="text" class="form-control" placeholder="Search..." aria-label="Subject name" oninput="getSubjects(this.value)">
    </div>
    <div class="col-auto">
      <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addSubjectModal">Add subject</button>
    </div>
  </div>

  <table class="table table-hover">
    <thead>
    <tr>
      <th scope="col">Subject name</th>
      <th scope="col" class="text-end">Actions</th>
    </tr>
    </thead>
    <tbody id="subjectsTableBody">
    </tbody>
  </table>


  {% include "modals/add-subject-modal.html" %}
  {% include "modals/subject-remove-confirm-modal.html" %}
  {% include "modals/subject-info-modal.html" %}
  {% include "modals/edit-subject-modal.html" %}

{% endblock %}
