{% extends "base.html" %}

{% block include %}
  {{ super() }}
  <link href="{{ url_for("static", filename="css/auth.css") }}" rel="stylesheet">
{% endblock %}

{% block navbar %}
{% endblock %}

{% block content %}
  <main class="form-signin">
    <form method="post">
      <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

      <div class="form-floating">
        <input type="text" class="form-control" id="floatingInput" placeholder="Your username" name="username" required>
        <label for="floatingInput">Username</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password" required>
        <label for="floatingPassword">Password</label>
      </div>

      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>
      <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
    </form><br>
    <a href="{{ url_for('index.index_page') }}" class="mt-5 text-muted">← Back to main page</a>
  </main>
{% endblock %}