{%  extends "base.html" %}

{% block content %}
  <div class="col-lg-8 mx-auto pt-3">
    <header class="d-flex align-items-center pb-3 mb-5 border-bottom">
        <span class="fs-4">Distance learning schedule</span>
    </header>

    <main>
      <h1>Distance learning schedule</h1>
      <p class="fs-5 col-md-8">
        Keep your schedule and lesson links in one place. Especially useful for distance learning.
      </p>

      <div class="mb-5">
        <a href="{{ url_for('auth.login_page') }}" class="btn btn-primary btn-lg px-4 me-2">Log in</a>
        <a href="{{ url_for('auth.signup_page') }}" class="btn btn-warning btn-lg px-4">Sign up</a>
      </div>

      <hr class="col-3 col-md-2 mb-5">

      <div class="row g-5">
        <div class="col-md-6">
          <h2>Host on your own server</h2>
          <p>To get a local copy up and running follow these simple steps.</p>
          <ol>
            <li>Clone the repo <br>
              <code>git clone https://github.com/drewg3r/dl-schedule.git</code>
            </li><br>
            <li>Set up production config in <kbd>app/config.py</kbd> <br>
              Choose random <code>SECRET_KEY</code> and provide database URI
            </li><br>
            <li>Use <kbd>docker</kbd> to build image <br>
              <code>docker build -t dl-schedule dl-schedule</code>
            </li><br>
            <li>Run docker image <br>
              <code>docker run --rm -d -p 8080:8005 dl-schedule</code>
            </li><br>
            <li>Your application is working on localhost:8080 <br>
            </li>
          </ol>
        </div>

        <div class="col-md-6">
          <h2>Demo mode</h2>
          <p>Use following credentials to log in:<br>
          Username: <kbd>demo</kbd><br>
          Password: <kbd>1234</kbd><br>
          </p>

          <h2>Built with</h2>
          <p>Technologies used in this project:</p>
          <ul>
            <li><a href="https://www.python.org/" rel="nofollow">Python</a></li>
            <li><a href="https://flask.palletsprojects.com/" rel="nofollow">Flask</a></li>
            <li><a href="https://getbootstrap.com/" rel="nofollow">Bootstrap</a></li>
          </ul>
        </div>
      </div>
    </main>
    <footer class="pt-5 my-5 text-muted border-top">
      <a href="https://github.com/drewg3r">drewg3r</a> | <a href="https://github.com/drewg3r/dl-schedule">repo</a> &middot; &copy; 2022
    </footer>
  </div>
{% endblock %}
